{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [],
        "alias": {
          "src": "./src"
        }
      }
    ],
    "transform-object-rest-spread",
    [
      "babel-plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
